<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IAS.Frontend</title>
    <partial name="_Styles" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_NavBar" />
        <!-- Main Sidebar Container -->
        <partial name="_MainMenuSidebar" />
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <partial name="_Footer" />
    </div>
    
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
